   <div class="row justify-content-center">
      <div class="col-lg-6">
<form action="/login" method="POST" class="row g-3">
  <div class="mb-3">
    <% if(error.length > 0){ %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong><%- error %></strong>
</div>
<% } %>
    <label for="staticEmail2" class="sr-only">Username</label>
    <input type="text" name="username" class="form-control">
  </div>
  <div class="mb-3">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password">
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary mb-3">Login</button>
  </div>
</form>
<a class="text-decoration-none" href="/registration">Registration</a>
</div>
</div>