<!DOCTYPE html>
<html lang="ru">
<head>
    <style>
        .all-weights-month {
            display:flex;
            flex-direction: column;
            gap: 10px;
        }
        body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

form label {
    display: block;
    margin-bottom: 8px;
}

button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.all-weights-month * {
            text-align: center;
            gap: 10px;
}
.all-weights-month a {
    display: inline-block;
}
.all-weights-month {
  display: flex;
  gap: 10px;
  text-align: center;
}
.edit-delete-buttons {
    display:flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.all-weights-month button {
    text-align: center;
}
        .logout-title {
            justify-content: space-between;
            display: flex;
            align-items: center;
        }
        .logout-title h1 {
            width: 400px;
        }

    </style>
    <meta charset="UTF-8">
    <title>Трекер веса — Месяцы</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
     <%- body %>
</body>

</html>