<!DOCTYPE html>
<html lang="ru">
<head>
    <style>
        .all-weights-month {
            display:flex;
            flex-direction: column;
            gap: 10px;
        }
        body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

form label {
    display: block;
    margin-bottom: 8px;
}

button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}


    </style>
    <meta charset="UTF-8">
    <title>Трекер веса — Месяцы</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
     <%- body %>
</body>

</html>