<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Трекер веса — Месяцы</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>📅 Данные по месяцам</h1>

    <ul>
            <% filteredMonthsAndYear.forEach(item => { %>
                <li>
                    <a href="/weights/<%= item.year %>/<%= item.numberMonth %>">
                        <%= item.month %> <%= item.year %>
                    </a>
                </li>
            <% }) %>
    </ul>

    <p><a href="/weights/new">➕ Добавить запись</a></p>
</body>
</html>

