<h1>📅 Данные по месяцам</h1>
    <h2><a href="/logout">Logout</a></h2>

    <ul>
            <% filteredMonthsAndYear.forEach(item => { %>
                <li>
                    <a href="/weights/<%= item.year %>/<%= item.numberMonth %>">
                        <%= item.month %> <%= item.year %>
                    </a>
                </li>
            <% }) %>
    </ul>

    <p><a href="/weights/new">➕ Добавить запись</a></p>

