<div class="logout-title">
    <div class="row">
    <div class="col-sm-8"><h1>📅 Данные по месяцам</h1>
    </div>
    
    <div class="col-sm-4"><h2 class="text-end"><a class="text-decoration-none" href="/logout">Выйти</a></h2></div>
  </div>
  <h4 class="text-end"><a class="text-decoration-none" href="/create-post">Создать статью</a></h4>
  <h4 class="text-end"><a class="text-decoration-none" href="/posts">Статьи</a></h4>


</div>
   <div class="row">
    <div class="w-auto">
    <ul class="list-group mt-2 mb-2">
            <% filteredMonthsAndYear.forEach(item => { %>
                <li class="list-group-item">
                    <a class="text-decoration-none" href="/weights/<%= item.year %>/<%= item.numberMonth %>">
                        <%= item.month %> <%= item.year %>
                    </a>
                </li>
            <% }) %>
    </ul>
    </div>
    </div>

    <p><a class="text-decoration-none" href="/weights/new">➕ Добавить запись</a></p>

