<h1>➕ Добавить запись веса</h1>
<h2><%- error %></h2>
<form action="/weights/new" method="post">
    <label>Дата:
        <input type="date" value="<%- date %>" name="date" required>
    </label>
    <br>
    <label>Вес (кг):
        <input type="number" name="weight" step="0.1" required>
    </label>
    <label>Комментарий:
        <input type="text" name="comment" step="0.1">
    </label>
    <br>
    <button type="submit">Сохранить</button>
</form>

<p><a href="/">⬅ Вернуться</a></p>

