<h1>Статья</h1>
<div>
                <div class="list-group-item border">
                    <div class="ms-2">
                        <h3><%- title %></h3>
                    <%- description %>
                    </div>
                    <button class="btn-primary btn"><a class="text-decoration-none text-white" href="/posts">Вернуться</a></button>
                    <div>
                </div>
</div>