<style>
    body { font-family: Arial, sans-serif; }
    #editor { height:300px; }
    #toolbar { margin-bottom: 8px; }
  </style>
<form action="<%- id_ ? '/posts/update' : '/posts/create' %>" method="POST">
    <% if (id_) { %>
    <input type="hidden" value="<%- id_ %>" name="id">
    <% } %>
    <h2>
  <%- id_ ? '➕ Редактировать пост' : '➕ Создать пост' %>
  </h2>

  <div class="input-field">
    <input class="form-control mb-2" type="text" name="title" placeholder="Название" value="" required>
    <input type="hidden" name="description" class="hidden-input">
  </div>
  <div id="editor" name="description"></div>

  <button type="submit" onclick="onSubmit()" class="btn btn-primary mb-3 mt-3"><%- id_ ? 'Сохранить' : 'Создать' %></button>
  <button class="btn-primary btn"><a class="text-decoration-none text-white" href="/posts">Вернуться</a></button>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script>
      let hiddenInput = document.querySelector('.hidden-input')
      const quill = new Quill('#editor', {
    theme: 'snow',
    modules: {
      toolbar: {
        container: [
          [{ 'header': [1, 2, false] }],        // заголовки H1, H2, обычный текст
          ['bold', 'italic', 'underline'],     // базовое форматирование
          [{ 'list': 'ordered' }, { 'list': 'bullet' }], // списки
          ['link', 'image']  
        ],
        handlers: {
          image: function () {
            const url = prompt('Вставьте ссылку на изображение:');
            if (url && isValidImageUrl(url)) {
              const range = this.quill.getSelection();
              this.quill.insertEmbed(range.index, 'image', url);
            }
          }
        }
      }
    }
  });

  // Простая проверка на допустимую ссылку
  function isValidImageUrl(url) {
    return /^https?:\/\/.+\.(jpg|jpeg|png|gif|webp|svg)$/i.test(url);
  }

  function onSubmit() {
    hiddenInput.value = JSON.stringify(quill.getContents())
    hiddenInput.value = quill.root.innerHTML
    if (hiddenInput === '') {
      return
      res.send('ddd')
    }
  }
  </script>
  </form>